<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117155874996-m14rkju8p3ngm33g771iatphg8ak48pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117155874996-m14rkju8p3ngm33g771iatphg8ak48pl</string>
	<key>API_KEY</key>
	<string>AIzaSyBY2ngZtfSQqu6UFwNBlCBFtOJMcJRwWsc</string>
	<key>GCM_SENDER_ID</key>
	<string>117155874996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.merciki.app</string>
	<key>PROJECT_ID</key>
	<string>shipsheaper-3e48e</string>
	<key>STORAGE_BUCKET</key>
	<string>shipsheaper-3e48e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117155874996:ios:df9aff86a34d505f2defe1</string>
	<key>DATABASE_URL</key>
	<string>https://shipsheaper-3e48e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>